# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Task-Management.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml


**/BuildHost-net472/
**/BuildHost-netcore/

**/Dependencies/